.container {
  background-color: #f6e9e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin-top: 60px;
}

.cartoes {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}


.cartao {
  background-color: #003F51;
  color: white;
  width: 320px;
  height: 420px;
  border-radius: 20px;
  text-align: center;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 25px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    opacity: 0.08;
    z-index: 0;
  }

  h2{
    position: relative;
    z-index: 1;
    color: #DFB674;
  }

  p{
    color: #F3E7E7;
  }

  h2{
    margin-bottom: 15px;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
}

.missao::before {
  background-image: url("/images/alvo.png");
}

.visao::before {
  background-image: url("/images/olho.png");
}

.valores::before {
  background-image: url("/images/coracao.png");
}
.cartao::before {
  opacity: 0.9;
}